.logo {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.search-bar {
  width: 300px;
  height: 40px;
  box-shadow: none;
  border: 1px solid #ee6258;
  border-radius: 20px;
  padding: 20px;
  color: #ee6258;
  outline: none;
}

.search-bar::placeholder {
  color: #ee6258;
}

.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-icon {
  color: #ee6258;
}
